html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body { 
  width:100%;
}

.centered {
  text-align: center;
}

.large {
  font-size: large;
}

.medium {
  font-size: medium;
}

.small {
  font-size: small;
}

.img-fit {
  width: 7%;
  min-width: 4.25cm;
  padding: 0.5cm;
  margin: auto;
}

.title-logo {
  flex-basis: min-content;
}

.text-logo-two-line {
  width: 60%;
  min-width: 375px;
  padding: 0.5cm;
  margin: auto;
}

.content-title-text {
  margin: 2em;
  margin-bottom: 0.5em;
}

.inline-elemtent {
  display: inline-block;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.iframe-container {
  width: 100%;
  padding-top: 0px;
}

.responsive-iframe {
  width: 640px;
  height: 360px;
}

.flex-container {
  display: flex;
  flex: 10%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.table-container {
  border-spacing: 0.25em;
  border-collapse: separate;
  width: 60%;
}

td {
  padding: 0 0.5em;
}

p {
  text-align: justify;
  width: 75%;
  font-size: 1em;
  line-height: 1.5;
}

h1, .title-container {
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
  font-size: 1.5em;
}

.subsection-heading {
  font-size: 1em;
}

.section-heading {
  font-family: 'Zilla Slab', serif;
  font-weight: 500;
  font-size: 1.5em;
  color: var(--sbu-red);
}

.serif-content {
  font-family: 'Zilla Slab', serif;
  font-weight: 400;
}

.sans-serif-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.media-container {
  width:42.5%;
  min-width: 750px;
}

.monospace-content {
  font-family: monospace;
}

.mobile-add-content {
  display: none;
}

.irsl-horz-text-logo-max-w {
  margin-top: 10px;
  margin-bottom: auto;
  flex-basis: min-content;
}

.irsl-horz-text-logo-new-line {
  margin-top: 10px;
  margin-bottom: auto;
}

.irsl-vert-text-logo {
  margin-top: 10px;
  margin-bottom: auto;
}

.min-w-del-container {
  display: table-cell;
}

.min-w-add-container {
  display: none;
}

.min-w-del-container {
  display: inline;
}

.min-w-block-container {
  display: inline;
}

.med-w-del-container {
  display: inline;
}

.med-w-block-container {
  display: inline;
}

@media only screen and (max-width: 600px) {
  .media-container {
    width:92.5%;
    min-width: 0;
  }

  .irsl-horz-text-logo-max-w {
    display: none;
  }

  .irsl-horz-text-logo-new-line {
    display: none;
  }

  .irsl-vert-text-logo {
    display: block;
  }

  .min-w-del-container {
    display: none;
  }

  .min-w-add-container {
    display: table-cell;
  }

  .min-w-del-container {
    display: none;
  }

  .min-w-block-container {
    display: block;
  }

  .med-w-del-container {
    display: none;
  }

  .med-w-block-container {
    display: block;
  }

  .responsive-iframe {
    width: 256px;
    height: 144px;
  }

  .img-fit {
    width: 75%;
    min-width: 0;
    padding: 10px;
  }

  .title-logo {
    flex-basis: fit-content;
  }

  .text-logo-two-line {
    min-width: 0px;
    width: 80%;
  }

  .content-title-text {
    margin: 10px;
  }

  .table-container {
    font-size: 0.75em;
  }

  .subsection-heading {
    font-size: 1em;
  }

  .section-heading {
    font-size: 0.8em;
  }

  .serif-content {
    font-size: 0.8em;
  }

  .sans-serif-content {
    font-size: 0.8em;
  }

  .monospace-content {
    font-size: 0.8em;
  }

  p {
    width: 95%;
  }

  .mobile-add-content {
    display: inline;
  }
}

@media only screen and (min-width: 600px) and (max-width: 810px) {
  .media-container {
    width:92.5%;
    min-width: 0;
  }

  .irsl-horz-text-logo-max-w {
    display: none;
  }

  .irsl-horz-text-logo-new-line {
    display: none;
  }

  .irsl-vert-text-logo {
    display: block;
  }

  .min-w-del-container {
    display: none;
  }

  .min-w-add-container {
    display: table-cell;
  }

  .min-w-del-container {
    display: none;
  }

  .min-w-block-container {
    display: block;
  }

  .med-w-del-container {
    display: none;
  }

  .med-w-block-container {
    display: block;
  }

  .responsive-iframe {
    width: 426px;
    height: 240px;
  }

}

@media only screen and (min-width: 810px) and (max-width: 850px) {
  .med-w-del-container {
    display: none;
  }

  .med-w-block-container {
    display: block;
  }
}

@media only screen and (min-width: 810px) and (max-width: 1250px) {
  .irsl-horz-text-logo-max-w {
    display: none;
  }

  .irsl-horz-text-logo-new-line {
    display: block;
  }

  .irsl-vert-text-logo {
    display: none;
  }
}

@media only screen and (min-width: 1250px) {
  .irsl-horz-text-logo-new-line {
    display: none;
  }

  .irsl-vert-text-logo {
    display: none;
  }
}

:root {
  --sbu-red: #990000;
  --sbu-bright-red: #D52027;
  --sbu-dark-red: #6B000D;
  --sbu-dark-grey: #4B4B4B;
  --sbu-medium-grey: #828282;
  --sbu-light-grey: #BEBEBE;
  --sbu-black: #000000;
}
